
body {
    font-family: 'Roboto', sans-serif;
}

.custom-card {
    border: none;
    border-radius: 64px 4px 64px 4px;
    transition: 0.3s;
}

.custom-card:hover {
    border-radius: 4px 64px 4px 64px;
}

.avatarImage {
    background-image: url("../img/avatar-bg.png");
    border-radius: 100%;
    width: 152px;
    height: 152px;
    object-fit: contain;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 5;
}

.avatarImage-Player {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 63%;
}

.avatarShadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.avatarName {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    margin-top: -1.0rem !important;
    color: #00aa00;
}

.card-custom-text {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.card-custom-text-right {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

.avatarRank {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    margin-top: -0.5rem !important;
    margin-bottom: 0.5rem !important;
    color: #ff5555;
}

.clip-circle {
    clip-path: circle(60px at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
}

.spacerLine {
    width: 100%;
    height: 8px;
    background-color: #ff0000;
}

.searchBar-box {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: static;
}

input[type=text] {
    border: none;
    border-radius: 4px;
    padding-left: 25px;
}

.cardBack {
    width: 345px;
    height: 493px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.footer {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.footer a {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.heartColor {
    color: #e74c3c;
}
